[user]
	name = Joao Grassi
	email = <set_email>
[core]
	editor = code --wait
	autocrlf = input
[init]
	defaultBranch = main
[alias]
	co = checkout
	cob = checkout -b
	cm = !git add -A && git commit -m	
	b = branch
	pu = push -u origin HEAD
	st = status
[merge]
    tool = meld
[mergetool "meld"]
    # cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[diff]
	tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[cola]
	spellcheck = false
[credential]
	helper = osxkeychain
